[MASTER]

ignore=tests, story_tests, ui, tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods,
        too-many-arguments,
        too-many-branches,
        too-many-positional-arguments,
        too-many-locals,
        invalid-name,
        redefined-builtin,
        wildcard-import,
        unused-wildcard-import,
        consider-iterating-dictionary,
        broad-exception-caught,
        possibly-used-before-assignment

[FORMAT]
max-line-length=140

[REFACTORING]
max-nested-blocks=3  


[DESIGN]
max-args=10
max-attributes=10
max-locals=10
