{% extends "layout.html" %} {% block title %} Bibcreate {% endblock %} {% block
  body %}
  
  <form action="/create_reference" method="post">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="message-box">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endwith %}
  </form>
  
  <div>
    <a href="/new_reference" class="button">Create a new reference</a>
  </div>
  
  <br />

  <div style="text-align: center; margin-top: 20px;">
    <form action="/search_for_reference" method="GET" class="search-bar">
        <input
            type="text"
            name="query"
            placeholder="Search for reference..."
            required
            value="{{ query }}"
            class="search-input"
        />
        <button type="submit" class="search-button">Search</button>
    </form>
   
    <br />
    {% if query %}
      <a href="/" class="button2" style="margin-top: 10px;">All References</a>
    {% endif %}

<h2>{% if query %}References matching "{{ query }}"{% else %}All references{% endif %}</h2>

{% if all_references %}
  <table
    border="1"
    style="width: 100%; border-collapse: collapse; text-align: center"
  >
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Type</th>
      <th>Delete</th>
    </tr>
    {% for reference in all_references %}
    <tr
      id="edit-button"
      class="reference-row"
      data-id="{{ reference.id }}"
      onclick="editReference('{{ reference.id }}', '{{ reference.type }}')"
    >
      <td>{{ reference.title }}</td>
      <td>{{ reference.author }}</td>
      <td>{{ reference.type }}</td>
      <td>
        <form
          action="/delete/{{ reference.id }}"
          method="post"
          style="display: inline"
          onsubmit="return confirmDelete(' {{ reference.title  }}')"
        >
          <input type="hidden" name="ref_type" value="{{ reference.type }}" />
          <button
            type="submit"
            class="delete-button"
            onclick="event.stopPropagation();"
          >
            X
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<h3 style="margin-top: 20px; text-align: center;">
  :´(  <br/>
  <br/>
  No references matching the search <br/>
  Check spelling or try a different tag.
</h3>
</p>
{% endif %}
  
  <script>
    function editReference(id, type) {
      const url = `/edit_reference/${id}?ref_type=${type}`
      window.location.href = url
    }
  </script>
  <script>
    function confirmDelete(title) {
      return confirm("Are you sure you want to remove reference" + title + "?")
    }
  </script>
  <br />
  {% endblock %}