<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="top-bar">
      <h1>BibCreate</h1>
    </header>
    <div class="vertical-container left"></div>
    <div class="vertical-container right"></div>
    {% block body %}{% endblock %}
  </body>
</html>