h1 {
    color: #535a3bda;
    font-family: "Rubik Spray Paint", system-ui;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: #a7b99e;
    font-family: "Andale Mono", monospace;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: #a7b99e;
    font-family: "Andale Mono", monospace;
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: "Rubik Spray Paint", system-ui;
    color: #535a3b;
    font-size: larger;
}

table {
    margin: 20px auto;
    width: 80%;
    max-width: 50%;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #a7b99e;
    padding: 8px 12px;
}

th {
    background-color: #eff7d3;
}

.reference-row:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.styled-form {
    margin: 20px auto;
    width: 60%;

    text-align: center;
}

.form-input {
    width: 80%;
    padding: 8px 12px;
    margin: 5px 0 10px 0;
    border: 1px solid #a7b99e;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.form-input select {
    background-color: white;
    color: black;
}

div {
    text-align: center;
    margin-top: 20px;
}

.form-input {
    margin-top: 5px;
}

.button,
.button2 {
    background-color: #a7b99e;
    color: white;
    padding: 10px 20px;
    border: 2px solid #535a3b;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s;
    margin: 10px 20px;
}

.button:hover,
.button2:hover {
    background-color: #788a70;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 8px #788a70;
}

.button2 {
    background-color: transparent;
    color: #535a3b;
    border-color: #a7b99e;
}

.button2:hover {
    background-color: #788a70;
    color: white;
    border-color: #788a70;
}

.button {
    border: none;
    outline: none;
    font-family: inherit;
}

a.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.delete-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f74a4a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #e60000e4;
    box-shadow: 0 0 2px #e60000e4;
}

.message-box {
    border: 1px solid #cedcc3;
    padding: 10px 15px;
    margin: 20px auto;
    width: 50%;
    max-width: 400px;
    border-radius: 4px;
    background-color: #eff7d3;
    text-align: center;
}

.message-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-box li {
    margin-bottom: 5px;
}

.vertical-container {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: -1;
}

.vertical-container.left {
    left: 0;
    background-color: #a3b59a;
}

.vertical-container.right {
    right: 0;
    background-color: #a7b99e;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.codebox {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.search-input {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #d0d8c5;
    border-radius: 5px;
    background-color: white;
    color: #535a3b;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input::placeholder {
    color: #b2b9a9;
    font-style: italic;
}

.search-input:focus {
    border-color: #a7b99e;
    box-shadow: 0 0 5px #d0d8c5;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #a7b99e;
    border: 2px solid #a7b99e;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.search-button:hover {
    background-color: #788a70;
    color: white;
    border-color: #788a70;
    box-shadow: 0 0 8px #788a70;
}

.tag-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.tag-item {
    position: relative;
    background-color: #535a3b96;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
}

.remove-button {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #dddada;
    border: 1px solid #cccccc;
    border-radius: 50%;
    color: #8b8989;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-button:hover {
    color: #2b2b2b;
    border-color: #292828;
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 45px;
        padding: 15px;
    }

    h2 {
        font-size: 24px;
        padding: 10px;
    }

    h3 {
        font-size: 18px;
    }

    body {
        font-size: medium;
    }

    table {
        width: 70%;
        font-size: 14px;
    }

    th,
    td {
        padding: 10px;
    }

    .delete-button {
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
    }

    .button,
    .button2 {
        font-size: 14px;
        padding: 8px 16px;
    }

    .message-box {
        width: 60%;
    }

    .search-bar {
        gap: 8px;
        width: 70%;
        flex-direction: column;
    }

    .search-input {
        padding: 8px 12px;
        font-size: 14px;
    }

    .search-button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 25px;
        padding: 15px 10px;
    }

    h2 {
        font-size: 18px;
        padding: 5px;
    }

    h3 {
        font-size: 14px;
    }

    body {
        font-size: small;
        padding: 0 10px;
    }

    table {
        width: 95%;
        font-size: 10px;
    }

    th,
    td {
        padding: 5px;
    }

    .delete-button {
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
    }

    .button,
    .button2 {
        font-size: 12px;
        padding: 6px 12px;
    }

    .message-box {
        width: 80%;
    }

    .search-bar {
        flex-direction: column;
        gap: 5px;
        width: 90%;
    }

    .search-input {
        padding: 6px 10px;
        font-size: 12px;
    }

    .search-button {
        padding: 6px 10px;
        font-size: 12px;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    h1 {
        font-size: 50px;
        padding: 20px;
    }

    h2 {
        font-size: 28px;
        padding: 10px;
    }

    h3 {
        font-size: 18px;
    }

    body {
        font-size: larger;
        margin: 0 auto;
    }

    table {
        width: 75%;
        font-size: 16px;
    }

    th,
    td {
        padding: 10px 15px;
    }

    .search-bar {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
        gap: 12px;
    }

    .search-input {
        padding: 10px 15px;
        font-size: 16px;
    }

    .search-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .button,
    .button2 {
        font-size: 16px;
        padding: 10px 20px;
    }

    .delete-button {
        width: 25px;
        height: 25px;
        font-size: 14px;
        line-height: 25px;
    }

    .message-box {
        width: 70%;
        margin: 20px auto;
    }

    .vertical-container {
        width: 15%;
    }

    .vertical-container.left {
        left: 0;
    }

    .vertical-container.right {
        right: 0;
    }
}