h1 {
    color: #535a3bda;
    font-family: "Rubik Spray Paint", system-ui;
    text-align: center;
    font-size: 60px;
  }
  
  h2 {
    color: #a7b99e;
    font-family: "Andale Mono", monospace;
    text-align: center;
    font-size: 30px;
  }
  
  h3 {
    color: #a7b99e;
    font-family: "Andale Mono", monospace;
    text-align: center;
    font-size: 20px;
  }
  
  body {
    margin: 0 auto; /* Keskittää sisällön */
    text-align: center;
    font-family: "Rubik Spray Paint", system-ui;
    color: #535a3b;
    font-size: larger;
  }
  
  /* "All references" table */
  table {
    margin: 20px auto; /* Keskittää taulukon */
    width: 80%; /* Taulukon leveys 80% näytöstä */
    max-width: 50%; /* Maksimileveys 800px */
    border-collapse: collapse; /* Poistaa solujen välin */
    text-align: center; /* Tekstin keskitys */
  }
  
  /* Cell appearance */
  th,
  td {
    border: 1px solid #a7b99e; /* Solujen reunat */
    padding: 8px 12px; /* Solujen sisäiset marginaalit */
  }
  
  th {
    background-color: #eff7d3; /* Otsikkosolujen taustaväri */
  }
  
  .reference-row:hover {
    background-color: #cedcc3;
    cursor: pointer;
  }
  
  /* Table button hover */
  .table-btn:hover {
    background-color: #cedcc3;
    cursor: pointer;
  }
  
  /* "Create a new reference" */
  .styled-form {
    margin: 20px auto;
    width: 60%;
    /* max-width: 600px; */
    text-align: center;
  }
  
  .form-input {
    width: 80%;
    padding: 8px 12px;
    margin: 5px 0 10px 0;
    border: 1px solid #a7b99e;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white; /* Asetetaan taustaväri valkoiseksi */
    color: black; /* Asetetaan tekstiväri mustaksi */
  }
  
  .form-input select {
    background-color: white; /* Varmistetaan, että kaikki select-elementit ovat valkoisia */
    color: black; /* Varmistetaan, että teksti on mustaa */
  }
  
  div {
  text-align: center; /* Keskittää sisällön "Create a new reference" Type kohta */
  margin-top: 20px; /* Lisää tilaa yläpuolelle */
}

.form-input {
  margin-top: 5px; /* Lisää tilaa valikon ja otsikon väliin */
}

.button, .button2 {
  background-color: #a7b99e; /* Taustaväri */
  color: white; /* Tekstin väri */
  padding: 10px 20px; /* Sisäinen tyhjä tila */
  border: 2px solid #535a3b; /* Reunaviiva */
  border-radius: 5px; /* Pyöristetyt kulmat */
  text-align: center; /* Tekstin keskitys */
  text-decoration: none; /* Ei alleviivausta */
  display: inline-block; /* Elementti näkyy rivillä, mutta käyttäytyy kuin lohko */
  font-size: 16px; /* Fontin koko */
  font-weight: bold;
  transition: all 0.3s; /* Animaatio kaikille ominaisuuksille */
  margin: 10px 20px; /* Ulkoinen tyhjä tila */
}

/* Hover-efektit */
.button:hover, .button2:hover {
  background-color: #788a70; /* Tummempi taustaväri hover-tilassa */
  color: white; /* Tekstin väri hover-tilassa */
  cursor: pointer; /* Kursori muuttuu kädeksi hover-tilassa */
  box-shadow: 0 0 8px #788a70; /* Hehku hover-tilassa */
}

/* Erityismääritykset toiselle napille */
.button2 {
  background-color: transparent; /* Läpinäkyvä tausta */
  color: #535a3b; /* Tummempi tekstin väri */
  border-color: #a7b99e; /* Tummempi reunaviiva */
}

.button2:hover {
  background-color: #788a70; /* Tumma tausta hover-tilassa */
  color: white; /* Valkoinen teksti hover-tilassa */
  border-color: #788a70;
}

  .button {
    border: none; /* Poistaa mahdolliset oletusreunukset */
    outline: none; /* Poistaa fokuksen yhteydessä näkyvän kehyksen */
    font-family: inherit; /* Varmistaa, että fontti periytyy ympäristöstään */
  }
  
  a.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  /* Delete-painike */
  .delete-button {
    display: inline-block;
    width: 30px; /* Pienempi leveys */
    height: 30px; /* Pienempi korkeus */
    background-color: #f74a4a; /* Punainen taustaväri */
    color: white; /* Valkoinen X-kirjain */
    font-size: 16px; /* Pienempi fonttikoko */
    font-weight: bold; /* Tekstin vahvuus */
    text-align: center; /* Keskittää tekstin vaakasuunnassa */
    line-height: 30px; /* Keskittää tekstin pystysuunnassa */
    border: none; /* Poistaa oletusreunukset */
    border-radius: 4px; /* Kevyesti pyöristetyt kulmat */
    cursor: pointer; /* Käsi-osoitin hover-tilassa */
    transition: background-color 0.3s ease; /* Sulava värianimaatio */
  }
  
  /* Hover-tila */
  .delete-button:hover {
    background-color: #e60000e4; /* Tummempi punainen hover-efekti */
    box-shadow: 0 0 2px #e60000e4; /* Hehku hover-tilassa */
  }
  
  /* Box for validation messages */
  .message-box {
    border: 1px solid #cedcc3; /* Yhtenäinen reunus */
    padding: 10px 15px; /* Kompakti sisätila */
    margin: 20px auto; /* Keskittää laatikon */
    width: 50%; /* Kavennettu leveys */
    max-width: 400px; /* Maksimileveys */
    border-radius: 4px; /* Kevyt pyöristys */
    background-color: #eff7d3; /* Vaalea taustaväri */
    text-align: center; /* Keskittää tekstin */
  }
  
  .message-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .message-box li {
    margin-bottom: 5px; /* Pienempi riviväli */
  }

  .vertical-container {
    position: fixed;
    top: 0;
    width: 20%; /* Kontainerin leveys */
    height: 100%; /* Koko sivun korkeus */
    z-index: -1; /* Siirretään taustalle, jotta ei häiritse sisältöä */
  }
  
  .vertical-container.left {
    left: 0; /* Asetetaan vasempaan reunaan */
    background-color: #a7b99e; /* Väriksi toinen väreistä */
  }
  
  .vertical-container.right {
    right: 0; /* Asetetaan oikeaan reunaan */
    background-color: #a7b99e; /* Väriksi toinen väreistä */
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .codebox {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

/* Search formi */
.search-form {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 800px; 
}

.search-form input {
    display: inline-block;
    padding: 8px 12px;
    margin: 10px 0;
    background-color: #cedcc3;
    color: #535a3b;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    text-align: center;
    width: 100%;

}

.search-form input:hover {
    background-color: #a7b99e;
}

.search-form button {
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #cedcc3;
    color: #535a3b;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.search-form button:hover {
    background-color: #a7b99e;
}

/* Search Bar Container */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Väli input-kentän ja napin välillä */
  margin: 20px auto;
  width: 80%; /* Hakupalkin leveys */
  max-width: 800px; /* Maksimileveys */
}

/* Search Input, INDEX sivu */
.search-input {
  flex-grow: 1; /* Input-kenttä vie kaiken tilan napin rinnalla */
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #d0d8c5; /* Vaalea vihertävä reunus */
  border-radius: 5px;
  background-color: white;
  color: #535a3b;
  outline: none; /* Poistaa sinisen kehyksen fokuksessa */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input::placeholder {
  color: #b2b9a9;
  font-style: italic;
}

/* Hover and Focus State for Input */
.search-input:focus {
  border-color: #a7b99e; /* Hieman tummempi vihreä */
  box-shadow: 0 0 5px #d0d8c5; /* Pehmeä hehku */
}

/* Search Button */
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white; /* Teksti on valkoinen */
  background-color: #a7b99e; /* Vaaleanvihreä taustaväri */
  border: 2px solid #a7b99e;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

/* Hover State for Button */
.search-button:hover {
  background-color: #788a70; /* Vaaleampi vihreä hover-efektissä */
  color: white; /* Tumma teksti hover-tilassa */
  border-color: #788a70;
  box-shadow: 0 0 8px #788a70; /* Hehku hover-tilassa */
}
